<!DOCTYPE html>
<html>
<head>
	<title>ApiDocu{ifset title} - {include title}{/}</title>
	<style>{php readfile($base_dir . '/css/api_docu.css')}</style>
</head>
<body{ifset body-class} class="{include body-class}"{/ifset}>
	{include content}
</body>
</html>
