<!DOCTYPE html>
<html>
<head>
	<title>ApiDocu{ifset title} - {include title}{/}</title>
	<style>{php readfile($base_dir . '/css/api_docu.css')}</style>
</head>
<body class="{ifset body-class}{include body-class}{/}">
	{include content}
</body>
</html>
