{extends 'api_docu_base.latte'}

{**
 * @param $route Contributte\ApiRouter\ApiRoute
 * @param $request Nette\Application\Request
 *}

{block title}Success{/block}
{block body-class}success{/block}

{block content}
	<div class="apiDocu-container">
		<h2 class="no-margin">Success!</h2>

		<p>ApiDocu has generated documentation into <strong>{$apiDir}</strong>.</p>
	</div>
{/block}
