{**
 * @param $route Ublaboo\ApiRouter\ApiRoute
 * @param $request Nette\Application\Request
 *}

{extends 'api_docu_base.latte'}

{block title}Error{/block}
{block body-class}success{/block}

{block content}
	<div class="apiDocu-container">
		<h2>Success!</h2>

		<p>ApiDocu has generated documentation into <strong>{$apiDir}</strong>.</p>
	</div>
{/block}
